@using KKday.Web.B2D.BE.Models.Model.Common
@using KKday.Web.B2D.BE.Models.Model.PriceSetting
@using Resources
@inject ILocalizer localizer
@model B2dDiscountMst
@{
    Layout = "_LayoutMain";
    var dtl_query_params = ViewData["DTL_QUERY_PARAMS"] as QueryParamsModel;
    var curamt_query_params = ViewData["CUR_AMT_QUERY_PARAMS"] as QueryParamsModel;
}
@section Stylesheet {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/jquery-scrolling-tabs/dist/css/jquery.scrolling-tabs.min.css")" />

}
<div class="row">
    <div class="col-xs-12">

    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Nav tabs -->

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#disc_dtl" aria-controls="disc_dtl" role="tab" data-toggle="tab">折扣明細</a></li>
            <li role="presentation"><a href="#curr_amt" aria-controls="curr_amt" role="tab" data-toggle="tab">外幣折扣金額</a></li> 
        </ul> 
    </div>

     
     <div class="row" style="margin-top: 16px;">

        <!-- Tab panes begin -->
        <div class="tab-content"> 

            <div role="tabpanel" class="tab-pane active" id="disc_dtl">
                @await Html.PartialAsync("DiscountMstList", Model)
            </div>

            <div role="tabpanel" class="tab-pane active" id="curr_amt">
                @await Html.PartialAsync("DiscountMstList", Model)
            </div>

        </div>  <!-- Tab panes end -->

    </div>
</div>