@using KKday.Web.B2D.BE.Models.Model.Common
@using KKday.Web.B2D.BE.Models.Model.Discount
@using Resources

@inject ILocalizer localizer
@model List<B2dDiscountMst>
@{ 

}

<table id="mytable" class="table table-bordred table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" id="checkall" /></th>
            <th>Discount Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" class="checkthis" aria-label="Select all items in this table" title="Select all items in this table" /></td>
                <td>@item.DISC_NAME</td>   
            </tr>
        }
    </tbody>
</table>