@{
    Layout = "_LayoutMain";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">我的帳號</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4>我的帳號</h4>


        </div>
    </div>
</div>