
@{
    Layout = "_LayoutMain";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">更改密碼</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4>更改密碼</h4>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-offset-3">
                <p class="text-center">Your password cannot be the same as your username.</p>
                <form method="post" id="form1" onsubmit="return CheckPassword();">
                    <input type="hidden" id="uuid" name="uuid" value="@ViewData["UUID"]" />
                    <input type="password" class="form-control" style="margin-bottom:8px;" name="password" id="password1" placeholder="New Password" autocomplete="off">
                    <input type="password" class="form-control" style="margin-bottom:8px;" id="password2" placeholder="Repeat Password" autocomplete="off">
                    <input type="submit" class="col-xs-12 btn btn-primary btn-load" data-loading-text="Changing Password..." value="變更密碼">
                </form>
            </div><!--/col-sm-6-->
        </div><!--/row-->
    </div>
</div>

<script type="text/javascript"> 
    function CheckPassword() { 

      $.ajax({
            url: _root_path + 'Account/UpdatePassword',
            type: 'POST',
            data: {
              uuid: $('#uuid').val(), password: $('#password1').val()
            },
            error: function(xhr) {
              alert('Ajax request 發生錯誤');
            },
            success: function(result) {
                if(result.status == "OK") {
                    alert("密碼已變更成功!"); 
                }
                else {
                    alert(result.msg);
                }
            }
          });
          return false;
    }
</script>