@{
    Layout = "_LayoutShell";
}
@section Stylesheet{

}

<div class="page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h1 class="title">分銷商註冊</h1>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="section-title">基本資訊</h2>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>稱謂</label>
                                    <select class="form-control">
                                        <option>請選擇</option>
                                        <option selected="">Mr.</option>
                                        <option>Ms.</option>
                                        <option>Mrs.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group has-error">
                                    <label>名<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" placeholder="請輸入名字">
                                    <div class="tip">不可為空</div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>姓<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" placeholder="請輸入姓氏">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>電子信箱<span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" placeholder="example@domain.com">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>職稱<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>請輸入密碼<span class="text-danger">*</span></label>
                                    <input type="password" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>再次輸入密碼<span class="text-danger">*</span></label>
                                    <input type="password" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>國家或地區代碼<span class="text-danger">*</span></label>
                                    <select class="form-control">
                                        <option selected="">請選擇</option>
                                        <option>+886</option>
                                        <option>+82</option>
                                        <option>+81</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label>聯絡電話<span class="text-danger">*</span></label>
                                    <input type="tel" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>慣用語言<span class="text-danger">*</span></label>
                                    <select class="form-control">
                                        <option selected="">請選擇</option>
                                        <option>繁體中文</option>
                                        <option>English</option>
                                        <option>簡體中文</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>交易貨幣 (不可更改)<span class="text-danger">*</span></label>
                                    <select class="form-control">
                                        <option selected="">請選擇</option>
                                        <option>USD</option>
                                        <option>TWD</option>
                                        <option>KRW</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>公司註冊國家或區域<span class="text-danger">*</span></label>
                                    <select class="form-control">
                                        <option selected="">請選擇</option>
                                        <option>台灣</option>
                                        <option>韓國</option>
                                        <option>日本</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label>公司名稱<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>統一編號<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" placeholder="僅台灣同業用">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>公司網站網址<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" placeholder="僅台灣同業用">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>聯絡地址<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" placeholder="僅台灣同業用">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="section-title">營業資訊</h2>
                    </div>
                    <div class="col-md-9">
                        <label>請提供至少一份下述文件</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="file-upload-area">
                                    <div class="content">
                                        <label>營業執照</label>
                                        <div class="text-light">
                                            <i class="icons icon-paper-clip"></i>
                                            酷遊天股份有限公司營業執照.pdf
                                            <a href="javascript:;" class="delete-file"><i class="icons icon-close"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="file-upload-area">
                                    <div class="content">
                                        <label>旅行社許可證</label>

                                        <a href="javascript:;" class="file-upload">點擊上傳檔案<input type="file"></a>
                                        <div class="tip">(最大檔案限制：200MB)</div>

                                        <!-- Loding -->
                                        <!-- <i class="fa fa-circle-o-notch fa-spin fa-2x text-lighter"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-footer">
                    <label>
                        <input type="checkbox">
                        我已閱讀並同意<a href="#">旅行代理條款</a>
                    </label>
                    <a href="#" class="btn btn-primary">建立公司</a>
                </div>
            </div>
        </div>
    </div>
</div>