@{
}

<div id="wrapper" data-spy="scroll" data-target="#spy" class="">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand active">
                    <a href="#home" class="">前往訂購</a>
                </li>
                <li class="">
                    <a href="@Url.Content("~/Account")" data-scroll="" class="">
                        <span>我的帳號</span>
                    </a>

                </li>
                <li class="">
                    <a href="#anch2" data-scroll="" class="">
                        <span>憑證補充資料</span>
                    </a>

                </li>
                <li class="">
                    <a href="@Url.Content("~/Order")" data-scroll="" class="">
                        <span>我的訂單</span>
                    </a>

                </li>
                <li class="">
                    <a href="#anch4" data-scroll="" class="">
                        <span>更改密碼</span>
                    </a>

                </li>
                <li class="">
                    <a href="#anch5" data-scroll="" class="">
                        <span>子帳戶設定</span>
                    </a>

                </li>
            </ul>
        </nav>
    </div>
</div>
 