@using KKday.Web.B2D.EC.Models.Model.Product
@using KKday.Web.B2D.EC.Models.Model.Booking

@{
     
}


    <div class="title">
        付款方式
        <a href="javascript:;" class="title-tool expand-info">
            <i class="fa fa-angle-down"></i>
        </a>
    </div>
    <div class="con">
        <ul class="payment-list">
            <li>
                <label>
                    <input type="radio" name="payment" value="creditcard">
                    信用卡
                </label>
                <div class="card-group">
                    <img src="~/images/payment/ic_visa.svg" class="pay-kind-img"><img src="~/images/payment/ic_jcb.svg" class="pay-kind-img"><img src="~/images/payment/ic_master.svg" class="pay-kind-img">
                </div>
                <div class="card-info">
                    <b>支付金額<span class="price">USD 100.00</span></b>
                    <div class="tip">
                        ＊您將以USD支付, 總費用為USD 100.00
                        <br>＊KKday不收取任何交易手續費或附加費用.如您發現被收取交易手續費, 請洽詢您的發卡銀行
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>持卡人姓名</label>
                                <input type="text" class="form-control" placeholder="Wang Xiau Ming">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label>信用卡號碼</label>
                                <input type="tel" class="form-control" placeholder="oooo-oooo-oooo-oooo">
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label>有效期限</label>
                                <input type="tel" class="form-control" placeholder="MM/YY">
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label>CVC/4DBC</label>
                                <input type="tel" class="form-control" placeholder="123">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <label>
                    <input type="radio" name="payment" value="paypal">
                    PayPal
                </label>
                <div class="card-group">
                    <img src="~/images/payment/ic_paypal.svg" class="pay-kind-img">
                </div>
                <div class="card-info">
                    <b>支付金額<span class="price">USD 100.00</span></b>
                    <div class="tip">
                        ＊您將以USD支付, 總費用為USD 100.00
                        <br>＊KKday不收取任何交易手續費或附加費用.如您發現被收取交易手續費, 請洽詢您的發卡銀行
                    </div>
                </div>
            </li>
            <li>
                <label>
                    <input type="radio" name="payment" value="android">
                    Android Pay
                </label>
                <div class="card-group">
                    <img src="~/images/payment/ic_androidpay.svg" class="pay-kind-img">
                </div>
            </li>
            <li>
                <label>
                    <input type="radio" name="payment" value="line">
                    LINE Pay
                </label>
                <div class="card-group">
                    <img src="~/images/payment/ic_linepay.svg" class="linepay-point">
                </div>
            </li>
        </ul>
        <div class="mt-15">
            親愛的旅人，在確認付款前請確認您已經知道我們的
            <a href="#" class="link text-grey">隱私權政策</a>及<a href="#" class="link text-grey">條款</a>
        </div>
        <div class="mt-15">
            <a href="javascript:;" class="btn btn-primary" data-toggle="modal" data-target="#modal_error_msg">確定支付<b>USD100</b></a>
        </div>
    </div>